.Btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 40px;
    color: white;
    border: 1px solid white;
}

.Btn_plus {
    background-color: #696867

}
.Btn_plus:hover {
    background-color: rgb(136, 29, 29);
    transition: .7s;
}

.Btn_minus {
    background-color: #696867
}
.Btn_minus:hover {
    background-color: rgb(19, 28, 192);
    transition: .7s;
}